.get_started {
    display: flex;
    flex: none;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    height: min-content;
    justify-content: flex-start;
    max-width: 1236px;
    padding: 0 12px;
    width: 100%;
    margin: 0 auto;
    @media only screen and (max-width: 809.98px) {
        gap: 24px;
    }
    .get_start_header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;
        height: min-content;
        justify-content: center;
        width: 100%;
        @media only screen and (max-width: 809.98px) {
            gap: 8px;
        }
        h2 {
            font-size: 57px;
            font-weight: 700;
            color: black;
            line-height: 1.2em;
            text-align: center;
            @media only screen and (max-width: 809.98px) {
                font-size: 29px;
                font-weight: 600;
            }
            @media (min-width: 810px) and (max-width: 1235.98px) {
                font-size: 37px;
                font-weight: 600;
            }
            span {
                color: #fb552f;
            }
        }
        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.2em;
            color: rgb(122, 128, 137);
            text-align: center;
            @media only screen and (max-width: 809.98px) {
                font-size: 13px;
            }
        }
    }
    .pricing_body {
        width: 100%;
        .control {
            .steps-tab {
                @include common-style;
                flex-direction: row;
                gap: 0px;
                justify-content: center;
                overflow: hidden;
                padding: 2px;
                backdrop-filter: blur(4px);
                border-radius: 18px;
                background-color: rgba(255, 255, 255, 0.04);
                border: 1px solid rgb(233, 231, 231);
                width: max-content;
                margin: 0 auto;
                .s-nav-link {
                    @include common-style;
                    cursor: pointer;
                    flex: 1 0 0px;
                    flex-direction: row;
                    gap: 8px;
                    justify-content: center;
                    min-width: 146px;
                    overflow: hidden;
                    padding: 12px 20px;
                    width: 1px;
                    border-radius: 16px;
                    border: none;
                    background-color: transparent;
                    transition: 0.5s;

                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 0em;
                    line-height: 150%;
                    color: rgb(122, 128, 137);
                    transition: 0.5s;
                    span {
                        padding: 2px 4px;
                        background-color: rgba(231, 71, 35, .03);
                        opacity: 1;
                        border-radius: 4px;
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 0em;
                        color: #FB552F;
                        white-space: nowrap;
                        line-height: 20px;
                    }
                    &.active {
                        color: white;
                        span{
                            color: white;
                            background-color: rgba(255, 255, 255, 0.32);
                        }
                    }
                }
                .button-background {
                    position: absolute;
                    height: 100%;
                    width: 147px;
                    background-color: $theme-color;
                    border-radius: 5px;
                    z-index: -1;
                    transition: all 0.3s ease;
                    left: 8px;
                    height: 46.5px;
                    border-radius: 16px;
                }
            }
        }
        .pricing_cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 32px;
            margin-top: 32px;
            @media only screen and (max-width: 575.98px) {
                grid-template-columns: repeat(1, 1fr);
            }
            @media (min-width: 576px) and (max-width: 909.98px) {
                grid-template-columns: repeat(2, 1fr);
              
            }
            .card {
                min-width: 250px;
                overflow: hidden;
                padding: 24px;
                border-radius: 24px;
                border: 1px solid rgb(242, 243, 248);
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 48px;
                @media (min-width: 576px) and (max-width: 909.98px) {
                    &:nth-child(3){
                        grid-column: 1/ span 2;
                    }
                }
                .card_top {
                    display: flex;
                    flex: none;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    gap: 24px;
                    height: min-content;
                    justify-content: flex-start;
                    padding: 24px;
                    position: relative;
                    width: 100%;
                    border-radius: 16px;
                    background-color: rgb(247, 249, 252);
                    &.premium {
                        background-color: #fef8f8;
                        h4{
                            color: #fb552f;
                        }
                    }
                    h4 {
                        font-size: 19px;
                        font-weight: 700;
                        color: rgb(122, 128, 137);
                        line-height: 20px;
                        @media only screen and (max-width: 809.98px) {
                            font-size: 15px;
                        }
                    }
                    .price_rang {
                        display: flex;
                        align-items: flex-end;
                        gap: 4px;
                        .price {
                            flex: none;
                            overflow: hidden;
                            display: flex;
                            gap: 8px;
                            align-items: flex-end;
                            .multiPrice{
                                height: 30px;
                                position: relative;
                                width: 90px;
                                h3:nth-child(1){
                                    position: absolute;
                                    left: 0;
                                    top: -100%;
                                    transition: all .4s ease-in-out;
                                  
                                }
                                h3:nth-child(1).show{
                                    top: 2px;
                                }
                                h3:nth-child(2){
                                    position: absolute;
                                    left: 0;
                                    bottom: -100%;
                                    transition: all .4s ease-in-out;
                                }
                                h3:nth-child(2).show{
                                    bottom: 5px;
                                }
                            }
                            h3 {
                                font-size: 29px;
                                font-weight: 700;
                                color: rgb(2, 7, 16);
                                line-height: 22.5px;
                                @media only screen and (max-width: 809.98px) {
                                    font-size: 22px;
                                }
                            }
                        }
                        span {
                            font-size: 15px;
                            font-weight: 500;
                            color: rgb(122, 128, 137);
                        }
                    }
                    .most_pick {
                        justify-content: center;
                        overflow: hidden;
                        padding: 3px 12px;
                        position: absolute;
                        right: 12px;
                        top: 12px;
                        background-color: #fb552f;
                        border-radius: 8px;
                        p {
                            color: white;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 20px;
                        }
                    }
                }
                .card_body {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        li {
                            display: flex;
                            gap: 8px;
                            height: min-content;
                            justify-content: flex-start;
                            padding: 16px;
                            width: 100%;
                            border-top: 1px solid rgb(242, 243, 248);
                            .icon {
                                width: 24px;
                                height: 24px;
                                flex: 0 0 24px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background-color: #f8f9fd;
                            }
                        }
                    }
                }
                .card_footer {
                    margin-top: auto;
                    .action_btn a {
                        width: 100%;
                    }
                }
            }
        }
    }
}
